.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  .skeleton-text {
    width: 100%;
    width: 250px;
    height: 19rem;
    margin-bottom: .25rem;
    border-radius: 20px;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 100%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

  @media screen and (max-width:800px){
    .skeleton-text {
      height: 11rem;
    }
  }
  