@import"../../styles/breakpoints.scss";

 .containerNavBottom{
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 13px;
    z-index: 600;
    transition: .3s ease all;
    display: grid;
    justify-content: center;

    @include md{
      max-height: 200px;
      justify-content: left;
      top: 200px;
    }

    .navBottom{
      width: 350px;
      height: 60px;
      right: 30px;
      border-radius: 10px;
      background: #7d5399;
      display: grid;
      align-items: center;
      text-align: center;
      grid-template-columns: repeat(3, 1fr);
      color: #fff;
       box-shadow: 0px 3px 0px 4px#e5603f;
      color-interpolation: linearRGB;
      font-weight: 700;

      @include md{
        width: 70px;
        height: 220px;
        display:block;
      }

        .navBottomItem{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            @include md{
              height: 70px;
            }
          }
          .containerNavBottonItemCenter{
            display: grid;
            justify-content: center;
            .navBottomItemCenter{
              justify-content: center;
              align-items: center;
              display: flex;
              top: -20px;
              box-shadow: 0px 0px 20px 13px #00000033;
              position: relative;
              width: 60px;
              border-radius: 100%;
              height: 60px;
              background: #f9a11f;
              @include md{
                top: 0px;
                margin-top: 10px;
                margin-bottom: 10px;
              }
            }
          }


      }
    
  }