@import "../../styles/breakpoints.scss";


.header {
    display: flex;
    flex-direction: column;
    color: #fff;

    @include md{
      margin-top: 20px;
    }

    .title {
      font-size: 28px;
      margin: 0;

      .emoji {
        font-weight: 400;
        font-family: apple color emoji, segoe ui emoji, noto color emoji,
          android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
          segoe ui symbol;
        margin-right: 10px;
      }
    }
    .containerButton{
      margin-left: 3rem;
      margin-right: 3rem;
    }

    .headerButtons {
      display: flex;
      margin-left: auto;
      font-size: 14px;
      font-weight: bold;
    }
  }